.market_information_container{
    display: flex !important;
}

.marketsMap{
    height: 700px;
}

.rotate-icon {
    background-image: url('/images/mapping/rotate.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
}

.delete-icon {
    background-image: url('/images/mapping/delete.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
}

.duplicate-icon {
    background-image: url('/images/mapping/duplicate.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
}

.market-icon {
    background-image: url('/images/mapping/market.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
}

.market-icon-info-panel{
    background-image: url('/images/mapping/market.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    float: right;
    width: 30px;
    height: 30px;
    display: block;
    padding: 0;
    outline: none;
    border: 0;
    box-sizing: border-box;
    background-color: transparent;
    cursor: pointer;
    margin-top: 3%;
    margin-right: 3%;
}

.save-icon {
    background-image: url('/images/mapping/save.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
}

.information-icon{
    font-size: 100%;
    font-weight: bold;
    color: firebrick;
    border: firebrick;
    border-radius: 10px/20px;
    display: inline;
    text-align: center;
}

.list-group{
    margin-left: 5%;
    margin-right: 3%;
}

.mapKeyColourIndicator{
    display: inline-block !important;
    height: 10px !important;
    margin-right: 5px !important;
    width: 10px !important;
    border-style: solid !important;
    border-width: 1px !important;
    border-color: #000000 !important;
}

.pitch_booking_container .row{
    display: flex !important;
}


.booking_dates_info_message{
    color: firebrick;
    font-size: 80%;
    font-weight: bold;
    
}